<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sightings</title>
</head>
<body>
	<p><a href="add/">add a sighting</a><br></p>

	<p><a href="stats/">show summary statistics</a></p>
        
	<p><a href="detail/">show detail</a></p>
        <table id='squirrels'>
		<tr>
			<th>Unique_Squirrel_ID</th>
			<th>Date</th>
		</tr>

		{% for sight in sightings %}

		<tr>
			<td> <a href='{{ sight.squirrel_id}}'>{{ sight.squirrel_id }}</a></td>
			<td>{{sight.date}}</td>
		</tr>

		{% endfor %}
	</table>

</body>
</html>
